// imports
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Monda:400,700|Titillium+Web:400,600,700&subset=latin,cyrillic-ext,latin-ext,cyrillic);
// colors
@body_bg: #12141b; @body_fg: #d9dce0;
@content_bg: #a0a5b9; @content_fg: #010209;
@light_border: #f0f4ff; @dark_border: #19224a;
@normal_button: #8a90a2; @special_button: #4C90D7;
@buttonBoxWidth: 200;
@buttonGreen: #73A834;
@buttonBlue: #6DB3DA;
@buttonRed: #E72D24;
@buttonInactive: #C4C4CC;
// mixins
.awesome_font { font-family: 'Titillium Web', sans-serif; }
.no_box-shadow {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
.box-shadow (@x: 0, @y: 0, @blur: 1px, @color: #000) {
    box-shadow: @arguments;
    -moz-box-shadow: @arguments;
    -webkit-box-shadow: @arguments;
}
.box-shadow-inset (@x: 0, @y: 0, @blur: 1px, @color: #000) {
    box-shadow: inset @arguments;
    -moz-box-shadow: inset @arguments;
    -webkit-box-shadow: inset @arguments;
}
.roundish_no_border {
    -moz-border-radius: 0 .5em 0 1em;
    -webkit-border-radius: 0 .5em 0 1em;
    border-radius: 0 .5em 0 1em;
}
.roundish_border (@border_color) {
    border:2px solid @border_color;
    .roundish_no_border;
}
.align_left { text-align:left; }
.align_right { text-align:right; }
.align_center { text-align:center; }
.clear { clear:both; }
// declarations
html { background: @body_bg; font-size:normal; }
body { background: @body_bg; }
h1 {
    color: @body_fg;
    padding-left: 20px;

    .logo {
      display: inline-block;
      width: 42px;
      height: 42px;
      float: left;
      margin-right: 20px;

      background-image: url("../img/logo.svg");
      background-size: 100% 100%;
      background-position: center center;
      background-repeat: no-repeat;
    }
}
h1,h2,h3,h4 {
    font-family: 'Monda', sans-serif;
}
h5,h6 {
    .awesome_font;
}
.half {
    display:inline-block;
    padding:0;
    margin:0;
    width:50%;
    border:0;
    h1, h2, h3 {
        margin: 0;
        padding: 0 1em .5em;
    }
}
.half.left { float:left; }
.half.right { float:right; }
.box {
    background: @content_bg;
    color: @content_fg;
    padding: 8px;
    margin: 0 5px .8em;
    .roundish_border(@light_border);
    .box-shadow(4px, 4px, 5px, @content_fg);
}
.img {
    .roundish_border(@light_border);
    .box-shadow-inset(2px, 2px, 2px, @content_fg);
}
.window {
    display: block;
}
input, textarea {
    /*background: #d6e9f9;*/
    background:none;
    color: #010209;
    padding:.1em .4em .1em .7em;
    .roundish_border(@light_border);
    .box-shadow-inset(2px, 2px, 2px, @content_fg);
}
.button {
    outline: none;
    background: @buttonInactive;
    color: @content_fg;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.1em;
    padding: .1em 2em .2em;
    text-align: center;
    .roundish_border(@light_border);
    .box-shadow(.1em, .1em, .1em, @content_fg);
    &:hover {
        cursor: pointer;
        background: @light_border;
    }
    &:active {
        .no_box-shadow;
    }
}
.small-button {
    font-size: .9em;
    padding: .1em;
    margin: .1em;
    .box-shadow(.1em, .1em, .1em, @content_fg);
}
div.buttons {
    display: inline-block;
    float: right;
    width: @buttonBoxWidth;

    .button {
        .button;
        display: block;
        width: @buttonBoxWidth - 10;

        &.green {
            background: @buttonGreen;
        }
        &.red {
            background: @buttonRed;
        }
        &.blue {
            background: @buttonBlue;
        }
        &.inactive {
            background: @buttonInactive;
        }
        &:hover {
            background: @light_border;
        }
    }

    &.big-buttons, div.big-buttons {
        display: block;
        .button {
            font-size: 1.3em;
            display: inline-block;
            float: left;
            &.big {
            }
            &.more {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
}
#creator-mode {
    display: block;
}
ul.form {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        display: inline-block;
    }
    li.label {
        .awesome_font;
        margin: 1em 1em .2em 0;
        height: 20px;
        float: left;
    }
    li.value {
        margin: 1em 1em .2em 0;
        height: 20px;
        font-size: 1.2em;
        float: left;
    }
}
table {
    width:90%;
    margin: .3em auto 1em;

    .roundish_border(@light_border);
    .box-shadow(2px, 2px, 3px, @content_fg);

    thead {
        border-collapse: collapse;
        th, td {
            border-bottom: solid 2px @content_fg;
            padding: .1em .5em;
            /*background: @body_bg;*/
            /*color: @body_fg;*/
        }
    }

    tbody {
        border-collapse: collapse;
        td, th {
            text-align: center;
            padding: .5em 2em;
        }
    }
}
div.location {
    display: block;
}
