<div class="box location">
  <div class="buttons">
    <a href="#" class="button blue t-edit">edit</a>
    <a href="#" class="button green t-preview">preview</a>
    <div class="clear"></div>
  </div>
  <ul>
    <li class="label">ID</li>
    <li class="value"><%= id %></li>
    <div class="clear"></div>
    <li class="label">Codename</li>
    <li class="value"><%= codename %></li>
    <div class="clear"></div>
  </ul>
  <div class="clear"></div>
</div>
