<div id="creator-mode">
  <div class="right half">
    <h1>Game preview</h1>
    <div class="r-game"></div>
  </div>
  <div class="left half">
    <h1>Creator mode</h1>
    <div class="r-toolbar box"></div>
    <div class="r-editor"></div>
    <div class="r-browser"></div>
  </div>
  <div class="clear"></div>
</div>
